.main {
  margin: 0;
  padding: 0;
  background: url("https://sun9-29.userapi.com/c639425/v639425033/3e60c/gTyH2HnLVvg.jpg")
    center/cover no-repeat; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
